
@{
    ViewData["Title"] = "Delete Form";
}
@model TaskApplication


<!-- Delete-->
<h2> Confirm Deleting</h2>
<h3> Are you sure you want to delete the @Model.Task?</h3>

<form method="post" asp-action="Delete">
    <button type="submit">Delete</button>
    <a asp-controller="Home" asp-action="Index" class="btn-primary btn"> Cancel </a>
    <input type="hidden" asp-for="ApplicationId" />
</form>